{{> head}}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Sherlock Holmes</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad cupiditate possimus fuga error doloribus voluptate inventore velit est ea nemo? Tempore eius autem laborum at rem quod a ipsa id.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/shvselementary.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}